engine

.cache/*

libs/glm/*
!libs/glm/.gitkeep

libs/imgui/*
!libs/imgui/.gitkeep
imgui.ini

libs/lua/*
!libs/lua/.gitkeep

libs/sol/*
!libs/sol/.gitkeep

assets/*
!assets/.gitkeep

compile_commands.json 
