engine

.cache/*

libs/glm/*
!libs/glm/.gitkeep

libs/imgui/*
!libs/imgui/.gitkeep
imgui.ini

libs/lua/*
!libs/lua/.gitkeep

libs/sol/*
!libs/sol/.gitkeep

!assets/scripts/

assets/fonts/*
!assets/fonts/.gitkeep

assets/images/*
!assets/images/.gitkeep

assets/sounds/*
!assets/sounds/.gitkeep

assets/tilemaps/*
!assets/tilemaps/.gitkeep

compile_commands.json 
